<nav class="navbar navbar-default navbar-fixed-top no-margin">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" ng-click="vm.isCollapsed = !vm.isCollapsed" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="home.step1">ui-router-wizard</a>
		</div>

		<div collapse="vm.isCollapsed" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-class="{active:vm.$state.includes('home')}">
					<a ui-sref="home.step1">
						<i class="fa fa-home"></i> Home
					</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="about">
						<i class="fa fa-info-circle"></i> About
					</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="components">
						<i class="fa fa-dashboard"></i> Components
					</a>
				</li>
			</ul>
		</div>

	</div>
</nav>